*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

:focus {
	outline: none;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	background-color: #eeeeee;
	position: relative;
	z-index: 5;
}

.main-navigation {
	display: flex;
	justify-content: flex-end;
	min-height: 114px;
	padding-top: 49px; 
}

.main-header-logo {
	height: 65px;
	width: 160px;
	margin-right: auto;
}

.main-header-logo:hover > img {
	opacity: 0.8;
}

.main-header-logo:focus {
	box-shadow: 0 0 0 3px #eeeeee,
				0 0 0 6px #fb565a;
				z-index: 10;
}

.main-header-logo:active > img {
	opacity: 0.3;
}

.site-navigation,
.user-navigation {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 16px;
}

.site-navigation {
	width: 500px;
	justify-content: center;
}

.user-navigation {
	width: 330px;
	justify-content: flex-end;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
	display: block;
	vertical-align: middle;
	padding: 9px 23px;
}

.user-navigation a {
	position: relative;
	padding-right: 0;
	padding-left: 69px;
}

.user-navigation li {
	position: relative;
}

.user-navigation li::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 29px;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.user-navigation a:active::before {
	opacity: 1;
}

.site-navigation-current,
.user-navigation-current {
	position: relative;
}

.site-navigation-current::after {
	content: "";
	position: absolute;
	right: 23px;
	bottom: 4px;
	left: 23px;
	height: 2px;
	background-color: #fb565a;
}

.user-navigation-current::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 4px;
	left: 29px;
	height: 2px;
	background-color: #fb565a;
}




/* слайдер */

.slider {
	position: relative;
	
	background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 76px;
	z-index: 1;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
	
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 8px;
	
	border-radius: 50%;
	cursor: pointer;
	background-color: #ffffff;
}

.slider-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.slider-item {
	display: none;
	padding: 75px 0 80px 0;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 100% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 2px;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
	display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 8px;
	height: 8px;
	margin: -4px;
	border: 2px solid #c1c1c1;
	background-color: #ffffff;
	border-radius: 50%;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 28px;
	
	color: #000000;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 40px;
}

.button {
	display: block;
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	
	border-radius: 3px;
	border: none;
}

.button:active {
	
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-content {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 16px 16px 16px;
}

.red-button {
	background-color: #fb565a;
}

.red-button:hover {
	background-color: #e74246;
}

.red-button:focus {
	box-shadow: 0 0 0 3px #ffffff,
				0 0 0 6px #fb565a;
}

.red-button:active {
	background-color: #d7373b;
}

.green-button {
	background-color: #00ca74;
}

.green-button:hover {
	background-color: #00bc6c;
}

.green-button:focus {
	box-shadow: 0 0 0 3px #ffffff,
				0 0 0 6px #00ca74;
}

.green-button:active {
	background-color: #00aa62;
}

.yellow-button {
	background-color: #efc84a;
}

.yellow-button:hover {
	background-color: #eab534;
}

.yellow-button:focus {
	box-shadow: 0 0 0 3px #ffffff,
				0 0 0 6px #efc84a;
}

.yellow-button:active {
	background-color: #e5a722;
}

.slider-item-button {
	width: 240px;
}





/* ------------------------------------------ */


.services {
	position: relative;
	background-color: #ffffff;
}

.services .container::after,
.aboutus .container::after,
.clients .container::after {
	content: "";
    position: static;
    display: block;
	height: 2px;
	width: 100%;
	background-color: #eeeeee;
}


.services-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 80px;
}

.services-item {
	width: 300px;
	margin: 0;
	margin-right: 100px;
	margin-bottom: 80px;

}

.services-item:nth-child(3n) {
	margin-right: auto;
}

.services-item h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;

	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}

.services-item p {
	margin: 0;
	padding: 0;
	margin-bottom: 33px;
}

.services-item-button {
	width: 160px;
}

.site-service::before,
.app-service::before,
.pres-service::before {
	content: "";
	position: static;
    display: block;
    width: 300px;
    height: 146px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
}

.site-service::before {
    background-image: url("../img/illustration-1.jpg");
    background-color: #fb565a;
}

.app-service::before {
    background-image: url("../img/illustration-2.jpg");
    background-color: #00ca74;
}

.pres-service::before {
    background-image: url("../img/illustration-3.jpg");
    background-color: #efc849;
}






.aboutus {
	position: relative;
	background-color: #ffffff;
}

.aboutus .container {
	display: flex;
	flex-wrap: wrap;
}

.aboutus-left-container {
	width: 660px;
	margin-right: auto;
	margin-bottom: 74px;
	padding-top: 72px;
}

.aboutus-right-container {
	width: 360px;
	margin-left: auto;
	margin-bottom: 74px;
	padding-top: 40px;
}

.aboutus-lead {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
	margin: 0;
	margin-bottom: 34px;
}

.aboutus-description {
	margin: 0;
	margin-bottom: 39px;
}

.aboutus-list-name {
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
}

.aboutus-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.aboutus-item {
	position: relative;
	padding-left: 37px;
	padding-top: 24px;
}

.aboutus-item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 36px;
	height: 2px;
	width: 25px;
	background-color: #fb565a;
}

.aboutus-right-container img {
	display: block;
	margin-bottom: 35px;
	min-height: 208px;
}

.aboutus-more-info {
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	margin-bottom: 39px;
	text-align: center;
}

.aboutus-percentage {
	display: flex;
	flex-direction: column-reverse;
	text-align: left;
}

.aboutus-percentage, 
.aboutus-percentage th,
.aboutus-percentage td,
.aboutus-percentage tr,
.aboutus-percentage tbody,
.aboutus-percentage thead {
	margin: 0;
	padding: 0;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

.aboutus-percentage th, 
.aboutus-percentage td {
	width: 120px;
}

.aboutus-percentage th {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #283136;
}

.aboutus-percentage td {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000000;
}

.aboutus-percentage tbody {
	margin-bottom: 22px;
}


.clients {
	margin-bottom: 80px;
}

.clients-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-x: auto;
}

.clients-item {
	position: relative;
	width: 260px;
	height: 180px;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    flex-shrink: 0;
    margin-right: 40px;
}

.clients-item img {
	display: block;
	opacity: 0.2;
}

.clients-item a:hover > img,
.clients-item a:focus > img {
	opacity: 1;
}

.clients-item a:active > img {
	opacity: 0.1;
}

.clients-item:last-child {
	margin-right: 0;
}

.clients-item:not(:last-child)::after {
	content: "";
    position: absolute;
    display: block;
	height: 52px;
	width: 2px;
	background-color: #eeeeee;
	right: -21px;
	top: calc(50% - 26px);
}

.map-contacts,
.map-contacts .container {
	min-height: 420px;
	position: relative;
}


.map {
	position: absolute;
	top: 0;
	height: 420px;
	width: 100%;
	background-color: #eceae3;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	background-position: center 40%;
	background-size: auto;
}

.map iframe {
	width: 100%;
	height: 420px;
	border: none;
}

.writeus {
	position: absolute;
	min-height: 310px;
	width: 320px;
	background-color: #ffffff;
	padding: 50px;
	top: calc(50% - 155px);
	z-index: 1;
}

.writeus-lead {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
}

.writeus-address, 
.writeus-telephone {
	line-height: 18px;
	color: #666666;
	margin: 0;
}

.writeus-address {
	margin-bottom: 20px;
}

.writeus-telephone {
	margin-bottom: 35px;
}

.writeus-button {
	width: 220px;
}





.main-footer {
	padding-top: 70px;
	padding-bottom: 60px;
}

.main-footer .container {
	display: flex;
}

.social-list {
	width: 260px;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-right: 140px;
}

.social-item {
	width: 80px;
	height: 80px;
	margin: 10px;
	margin-left: 0;
	margin-top: 0;
	border-radius: 50%;
	background-color: #e1e1e1;
}

.social-item:hover,
.social-item a:focus {
	background-color: #e74246;
}

.social-item:active {
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.social-item:nth-child(3n) {
	margin-right: 0;
}

.social-item a {
	display: block;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.social-item a:active {
	opacity: 0.3;
}

.vk {
	background-image: url(../img/vk-icon.svg);
}

.fb {
	background-image: url(../img/fb-icon.svg);
}

.insta {
	background-image: url(../img/insta-icon.svg);
}

.social-text {
	width: 560px;
	padding-top: 3px;
}

.social-text-lead {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
	margin: 0;
	margin-bottom: 11px;
}

.social-text-body {
	line-height: 22px;
	color: #444444;
	margin: 0;
}




@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.modal-writeus {
	position: fixed;
	display: none;
	width: 960px;
	min-height: 590px;
	bottom: 180px;
	left: calc(50% - 480px);
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
	z-index: 5;
	background-color: #ffffff;
	padding: 80px 100px;
}

.modal-show {
	display: block;
	animation: bounce 0.5s;
}

.modal-error {
	animation: shake 0.5s;
}

.modal-writeus h2 {
	margin: 0;
	margin-top: -8px;
	margin-bottom: 10px;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #000000;
	margin-bottom: 35px;
}

.writeus-form-button {
	width: 260px;
}

.writeus-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.writeus-form p {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}

.writeus-form label {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 10px;
}

.writeus-form input,
.writeus-form textarea {
	border: 2px solid #d7dcde;
	border-radius: 3px;
	padding: 12px 16px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #444444;
}

.writeus-form input:hover,
.writeus-form textarea:hover {
	border: 2px solid #b4b9bb;
}

.writeus-form input:focus,
.writeus-form textarea:focus {
	border: 2px solid #000000;
}

.writeus-form input {
	width: 360px;
	height: 46px;
	margin-bottom: 40px;
}

.writeus-form textarea {
	width: 760px;
	height: 114px;
	margin-bottom: 50px;
	resize: none;
}

input.input-invalid,
textarea.input-invalid {
	border: 2px solid #e74246;
	color: #e74246;
}
.modal-close {
	position: absolute;
    top: 80px;
    right: 85px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.1;
}

.modal-close::before, 
.modal-close::after {
	content: "";
    position: absolute;
    top: 13px;
    left: 1px;
    width: 28px;
    height: 4px;
    background-color: #fb565a;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}
















.page-header {
	min-height: 200px;
	position: relative;
    background-color: #eeeeee;
    padding-top: 75px;
    padding-bottom: 110px;
}

.page-header h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	text-align: center;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.filter-column {
	width: 260px;

}

.catalog-column {
	width: 760px;

}

.catalog-filter-form {
	padding-top: 55px;
}

.catalog-filter-form fieldset {
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 25px;
}

.catalog-filter-form legend {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 15px;
}

.catalog-form-button {
	width: 260px;
}

.gray-button {
	background-color: #eeeeee;
	color: #000000;
}

.gray-button:hover {
	background-color: #dfdfdf;
	color: #000000;
}

.gray-button:focus {
	box-shadow: 0 0 0 3px #ffffff,
				0 0 0 6px #d5d5d5;
	color: #000000;
}

.gray-button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 39px 20px;
  background-color: #f1f1f1;
  border-radius: 3px;

  margin-top: 35px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;

	margin-left: 40px; 
	width: 60px;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  
  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:hover {
	transform: scale(1.1);
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.filter-price-container {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 25px;
}

.filter-label-price {
	line-height: 22px;
	text-transform: uppercase;
	margin: 0;
}


.filter-input-price {
	width: 80px;
	background-color: #eeeeee;
	border: 3px solid #eeeeee;
	border-radius: 3px;
	text-align: center;
	padding: 7px;
	font-family: "Roboto", "Arial", sans-serif;
	margin-left: 10px;
}

.filter-input-price:hover {
	background-color: #dfdfdf;
	border: 3px solid #dfdfdf;
}

.filter-input-price:focus {
	background-color: #ffffff;
	border: 3px solid #eeeeee;
}



.filter-radio-list,
.filter-checkbox-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}


.filter-option {
	margin-bottom: 16px;
	padding-left: 36px;
}

.filter-option:last-child {
	margin-bottom: 0;
}










.filter-checkbox-label {
	position: relative;
	cursor: pointer;
	opacity: 0.5;
}

.filter-checkbox-label::before {
	content: "";
    position: absolute;
    top: -1px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filter-checkbox-input:checked + .filter-checkbox-label::before {
    background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox-label:hover,
.filter-checkbox-input:focus + .filter-checkbox-label {
	opacity: 1;
}

.filter-checkbox-input:disabled + .filter-checkbox-label {
    opacity: 0.1;
    cursor: default;
}









.filter-radio-label {
	position: relative;
	cursor: pointer;
	opacity: 0.5;
}

.filter-radio-label::before {
	content: "";
    position: absolute;
    top: -1px;
    left: -35px;
    width: 23px;
    height: 23px;
    border: 2px solid #283136;
    border-radius: 50%;
}

.filter-radio-input:checked + .filter-radio-label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -27px;
    width: 7px;
    height: 7px;
    background-color: #283136;
    border-radius: 50%;
}

.filter-radio-label:hover,
.filter-radio-input:focus + .filter-radio-label {
    opacity: 1;
}

.filter-radio-input:disabled + .filter-radio-label {
    opacity: 0.1;
    cursor: default;
}








.catalog-sorting {
	display: flex;
	padding-top: 55px;
	align-items: baseline;
	justify-content: flex-start;
	margin-bottom: 50px;

}

.catalog-sorting span {
	display: block;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	margin-right: 25px;
}

.sorting-list,
.direction-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.sorting-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: 25px;
	margin-left: auto;
}

.sorting-item:not(:last-child) {
	margin-right: 25px;
}

.direction-list {
	display: flex;
	justify-content: flex-end;
}

.direction-down,
.direction-up {
	display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-left: 18px;
}

.direction-up {
	border-bottom: 10px solid #cacaca;
}

.direction-down {
	border-top: 10px solid #cacaca;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}


.catalog-item {
	width: 360px;
	margin-right: 40px;
	margin-bottom: 40px;
	position: relative;
}

.catalog-item img {
	display: block;
}


.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.info-cell {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #eeeeee;
	overflow: hidden;
	width: 100%;
	max-height: 0;
	transition: 0.6s ease;
	padding: 0 45px;
}


.catalog-item:hover .info-cell {
  max-height: 50%;
}

.catalog-item:hover::before {
  opacity: 1;
}



.info-cell h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.info-cell p {
	margin: 0;
	text-align: center;
	color: #666666;
	line-height: 18px;
	margin-bottom: 35px;
}

.price-button {
	width: 200px;
	margin: 0 auto;
	margin-bottom: 45px;
}

.catalog-item::before {
	content: "";
	display: block;
	position: static;
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
	height: 40px;
	width: 360px;
	opacity: 0.12;
	transition: 0.6s ease;
}







